@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* Анимация появления редактора */
@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slideInRight {
    animation: slideInFromRight 0.4s ease-out forwards;
}

.animate-slideInLeft {
    animation: slideInFromLeft 0.4s ease-out forwards;
}